# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[**.{js,json,md}]
insert_final_newline = true

[**.{json,md}]
indent_size = 2

[**.html]
insert_final_newline = false
